/* BEGIN RESET */

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
    font-size: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    text-align: left;
    vertical-align: top;
}

img
{
    border: 0;
}

/* END RESET */
body {
  padding:5%;
}

h1 {
  font: 300 300% 'Noto Sans JP', sans-serif;
}

p {
  font: normal 900 800% 'Noto Sans JP', sans-serif;
  padding: 0 0 20px 0;
}

p.tag {
  font: italic 75% 'Merriweather', serif;
}
